@model List<webCinesStarMVC.Models.Cine>
@{
	ViewBag.Title = "verCines";
	Layout = "_Layout";
}
<br />
<h1>Nuestros Cines</h1>
<br />
@foreach( var oCine in Model ){ 
    <div class="contenido-cine">
        <img src="~/img/cine/@oCine.idCine.1.jpg" width="227" height="170" />
        <div class="datos-cine">
            <h4>@oCine.RazonSocial</h4>
            <br />
            <span>
                @oCine.Direccion - @oCine.Detalle<br /><br />Teléfono: @oCine.Telefonos
            </span>
        </div>
        <br />
        <a href='@Url.Action("verCine", "Cine", new { idCine = oCine.idCine })'>
            <img src="~/img/varios/ico-info2.png" width="150" height="40" />
        </a>
    </div>
}