@{
	webCinesStarMVC.Models.Pelicula Pelicula = ViewBag.Pelicula;
	ViewBag.Title = "verPelicula";
	Layout = "_Layout";
}

<br />
<h1>Cartelera</h1>
<br />
<div class="contenido-pelicula">
	<div class="datos-pelicula">
		<h2>@Pelicula.id</h2>
		<p>@Pelicula.Sinopsis</p>
		<br />
		<div class="tabla">
			<div class="fila">
				<div class="celda-titulo">Título Original :</div>
				<div class="celda">@Pelicula.Titulo</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Estreno :</div>
				<div class="celda">@Pelicula.FechaEstreno</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Género :</div>
				<div class="celda">@Pelicula.Generos</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Director :</div>
				<div class="celda">@Pelicula.Director</div>
			</div>
			<div class="fila">
				<div class="celda-titulo">Reparto :</div>
				<div class="celda">@Pelicula.Reparto</div>
			</div>
		</div>
	</div>
	<img src="@Url.Content($"~/img/pelicula/{@Pelicula.id}.jpg")" width="160" height="226"><br /><br />
</div>
<div class="pelicula-video">
	<embed src="https://www.youtube.com/v/@Pelicula.Link" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="400">
</div>